@import "//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700,300";

body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}

p {
	font-weight: 300;
	line-height: 30px;
}

h1 {
	color: #249ADA;
	font-weight: 500;
	font-size: 30px;
}

hr {
	border: 0;
	height: 20px;
}