---
layout: default
title: Journey
index: 1
---

<section class="title big timeline">
  <div class="inner">
    <p>Our journey is unplanned. We just go. Trying to make this idea happen, step by step.</p>
    <h1>It starts here, in 2012</h1>
  </div>
</section>

<section class="posts">
  <div class="inner">
    {% for post in site.posts reversed %}
      <article class="{{post.kind}}">
        <time>{{post.date | date: "%B %Y"}}</time>

        {% if post.image contains "/" %}
          {{post.content}}

          <figure>
            <img src="/assets/uploads/{{post.image}}">
          </figure>
        {% else %}
          <figure>
            <iframe src="//www.youtube.com/embed/{{post.image}}?modestbranding=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
          </figure>

          {% if post.title %}
            <h1>{{post.title}}</h1>
          {% endif %}

          {{post.content}}
        {% endif %}

      </article>
    {% endfor %}
  </div>
</section>
