<footer id="footer">

  <div id="overlay">
    <a href="#" class="close">
      Close
    </a>

    <section>
      <figure class="otherby">
        <a target="_blank" href="https://davehakkens.nl">
          <img src="/assets/images/otherby.gif" />
        </a>
      </figure>

      <nav class="external">
        <a href="#">
          <img src="/assets/images/phonebloks.gif" />
        </a>
        <a target="_blank" href="https://preciousplastic.com">
          <img src="/assets/images/preciousplastic.gif" />
        </a>
        <a href="https://story-hopper.com">
          <img src="/assets/images/storyhopper.gif" />
        </a>
      </nav>

      <nav class="overlay-social">
        <a target="_blank" href="http://www.facebook.com/davehakkens">
          <img src="/assets/images/social_icon_facebook.gif" />
        </a>
        <a target="_blank" href="http://www.instagram.com/davehakkens">
          <img src="/assets/images/social_icon_instagram.gif" />
        </a>
        <a target="_blank" href="http://www.twitter.com/davehakkens">
          <img src="/assets/images/social_icon_twitter.gif" />
        </a>
        <a target="_blank" href="https://davehakkens.nl/mailinglist/">
          <img src="/assets/images/social_icon_mailinglist.gif" />
        </a>
        <a target="_blank" href="https://davehakkens.nl/community/forums/">
          <img src="/assets/images/social_icon_community.gif" />
        </a>
      </nav>
    </section>
  </div>

  <div class="inner">
    <nav>
      <ul>
        <li>
          <a href="https://www.davehakkens.nl/donate/phonebloks">Donate</a>
        </li>

        <li>
          <a href="http://blog.phonebloks.com" target="_blank">Blog</a>
        </li>

        <li>
          <a href="/contact">Contact</a>
        </li>

        <li>
          <a href="/about">About</a>
        </li>

        <li>
          <a href="/faq">FAQ</a>
        </li>
      </ul>
    </nav>

    <div class="social">
      <a href="https://twitter.com/getphonebloks" target="_blank">
        {% include svg/social/twitter.svg %}
      </a>

      <a href="https://facebook.com/phonebloks" target="_blank">
        {% include svg/social/facebook.svg %}
      </a>

      <a href="https://github.com/hakkens/phonebloks" target="_blank">
        {% include svg/social/github.svg %}
      </a>

      <a href="https://youtube.com/phonebloks" target="_blank">
        {% include svg/social/youtube.svg %}
      </a>

      <a href="https://davehakkens.nl/mailinglist/" target="_blank">
        {% include svg/social/newsletter.svg %}
      </a>
    </div>

    <a href="#" class="by" target="_blank">
      <img src="/assets/images/by.gif">
    </a>
  </div>
</footer>
