<header id="header">
  <div class="inner">
    <a href="/" class="logo">{{site.title}}</a>

    <div>
      <span>
        <b></b>
        <b></b>
        <b></b>
      </span>
    </div>
  </div>

  <div class="inner">
    <nav>
      <ul>
        {% assign sorted = (site.pages | sort: "index") %}

        {% for node in sorted %}
          {% assign current = nil %}

          {% if page.url == node.url %}
            {% assign current = "current_page_item" %}
          {% endif %}

          {% unless node.url contains "assets" or node.name contains "index" %}
            {% assign nameParts = node.name | split: "." %}
            {% capture svgPath %}svg/menu/{{nameParts | first}}.svg{% endcapture %}

            <li class="{{current}}">
              <a href="{{node.url}}">{% include {{svgPath}} %}</a>
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
