<header id="header">
  <div class="inner">
    <a href="/" class="logo">Phonebloks</a>

    <div>
      <span>
        <b></b>
        <b></b>
        <b></b>
      </span>
    </div>
  </div>

  <div class="inner">
    <nav>
      <ul>
        <li>
          <a href="/journey">
            {% include svg/menu/journey.svg %}
          </a>
        </li>

        <li>
          <a href="/development">
            {% include svg/menu/development.svg %}
          </a>
        </li>

        <li>
          <a href="/help-us">
            {% include svg/menu/help-us.svg %}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
